---
import SkillsIcon from "./icons/SkillsIcon.astro";

---
<section id="skills" class="flex flex-col justify-center items-center  text-white py-12">
  <div class="flex items-center gap-2 justify-center"> 
    <h2  class="underline decoration-orange-500 text-base md:text-3xl lg:text-4xl flex gap-2 font-bold font-onest opacity-70">Skills <SkillsIcon class="h-10 lg:w-14 opacity-80"/></h2>
  </div> <br>
   <div class="flex items-center space-x-12">
    <p class=""> Html
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--html.png" alt="html">
    </p>
   <p class=""> Css
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--css.png" alt="Css">
    </p>
    <p class=""> Tailwind
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--tailwindcss-dark.png" alt="Tailwind">
    </p>
    <p class=""> JavaScript
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--javascript.png" alt=JavaScript">
    </p>
      </p>
      <p class=""> Mysql
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--mysql-dark.png" alt=Msql">
    </p>
      </p>
      <p class=""> GitHub
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--github-dark.png" alt=Github">
    </p>
      </p>
      <p class=""> Git
        <img class="h-16 w-16 hover:scale-110 mt-2 font-poppins" src= "/public/skill-icons--git.png" alt=Git">
    </p>
   </div>


</section>

