---

import IconoProyect from "./icons/IconoProyect.astro"
---

<section id="proyectos" class="flex flex-col justify-center items-center bg-gray-500 p-8 text-white">
  <div class="flex items-center gap-2 justify-center"> 
    <h2  class=" decoration-orange-500 text-base md:text-3xl lg:text-4xl flex gap-4 font-bold font-onest">Proyectos <IconoProyect /> </h2> 
  </div>
    <img src="/public/imagen_retocada.webp" alt="imagen del proyecto">
    <p class="lg:text-lg text-xs py-2 px-2 max-w-3xl leading-relaxed opacity-80 font-poppins text-balance">
      Soy Glenn Álvarez, un apasionado del desarrollo web con enfoque en crear soluciones eficientes y atractivas. Actualmente me encuentro en formación constante como desarrollador frontend y backend, construyendo proyectos prácticos mientras aprendo nuevas tecnologías como Html, Wix, JavaScript, Tailwind CSS y Astro.
    </p>

</section>

 