---
const {class: className, id} = Astro.props
---

<section id={id} class={`flex justify-center items-center flex-col p-8 py-28 text-white px-8 w-full border-b-1 border-orange-300 opacity-80 ${className}`}>
    <slot/>
</section>