---
import AcercaD from "./AcercaD.astro"
---
<section id="Acerca-de-mi" class="flex flex-col justify-center items-center p-8 text-white py-12">
  <div class="flex items-center gap-2 justify-center"> 
    <h2  class="underline decoration-orange-500 text-base md:text-3xl lg:text-4xl flex gap-6 font-bold font-onest opacity-80">Acerca de mi</h2>  <AcercaD class="h-14 lg:w-14 opacity-80"/>
  </div>
    <p class="lg:text-lg text-xs py-2 px-2 max-w-3xl leading-relaxed opacity-80 font-poppins text-balance text-gray-400">
      Soy Glenn Álvarez, un apasionado del desarrollo web con enfoque en crear soluciones eficientes y atractivas. Actualmente me encuentro en formación constante como desarrollador frontend y backend, construyendo proyectos prácticos mientras aprendo nuevas tecnologías como Html, Wix, JavaScript, Tailwind CSS y Astro.
    </p>

</section>

