---
// Asegúrate de que la ruta sea correcta según tu estructura

import Side from "../components/Side.astro";
import "@fontsource-variable/onest";
import "@fontsource/poppins"; // esta letra se instala y luego se importa y se mete en el fontfamily
import "../styles/global.css"; // no olvidar importar el css
import Footer from "../components/Footer.astro";

const { titulo } = Astro.props; // para recibir el título
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>{titulo}</title>
  </head>
  <body class="relative overflow-x-hidden text-white">
    <!--Fondo galaxia -->
    <!-- <div class="fixed inset-0 -z-10 bg-black" id="galaxy-layer"> -->
    <div class="absolute inset-0 animate-stars"></div> 

    <!-- Estrellas fugaces -->
  </body>

  <Side />

  <main class="flex-1 ml-0 p-4 min-h-screen relative z-10">
    <slot />
    <Footer />
  </main>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family:
      "poppins",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* fonde de estrellas flotantes */

  @keyframes starsMove {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1000px 1000px;
    }
  }

  #galaxy-layer {
    background: radial-gradient(ellipse at bottom, #0b1e2d 0%, #000000 100%);
    z-index: -10;
  }

  .animate-stars {
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");

    background-repeat: repeat;
    background-size: contain;
    opacity: 1.5;
    animation: starsMove 100s linear infinite;
    width: 100%;
    height: 100%;
  }
</style>
